
name: main

on:
  push:
    branches: [ "master", "devel" ]
  pull_request:
    branches: [ "master", "devel" ]

jobs:
  quicktest:
    runs-on: ubuntu-latest
    matrix:
      python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y python3 python3-pip

      - name: Run build
        run: pip3 install .[test]

      - name: Run tests and collect coverage
        run: pytest -v -m "not slow" --cov=./src

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y python3 python3-pip

      - name: Run build
        run: pip3 install .[dev]

      - name: Run linter
        run: flake8

  typechecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y python3 python3-pip

      - name: Run build
        run: pip3 install .[dev]

      - name: Run typechecker
        run: mypy

  other_static_analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y python3 python3-pip

      - name: Run build
        run: pip3 install .[dev]

      - name: Run bandit
        run: bandit -r . -x "./tests"
